# Assignment - 20th_August_String_Based_Practice_Questions

### TOPIC: String Based Assignment Problem

In [2]:
#1
text = "car"
print("Reversed:",text[::-1])

Reversed: rac

In [3]:
#2
text = "car"
if text == text[::-1]:
    print(text,"is a palindrome")
else:
    print(text,"is not a palindrome")

car is not a palindrome

In [4]:
#3
text = "car"
print("Upper case:",text.upper())

Upper case: CAR

In [5]:
#4
text = "CAR"
print("Lower case:",text.lower())

Lower case: car

In [6]:
#5
vowels = ['a','e','i','o','u','A','E','I','O','U']
counter = 0
sentence = input("Enter sentence: ")
for character in sentence:
    if character in vowels:
        counter+=1
print("Number of vowels in string:",counter)

Enter sentence: I love pizza.
Number of vowels in string: 5

In [2]:
#6
vowelsAndSpace = ['a','e','i','o','u','A','E','I','O','U',' ']
counter = 0
sentence = input("Enter sentence: ")
for character in sentence:
    if character not in vowelsAndSpace:
        counter+=1
print("Number of consonants in string:",counter)

Enter sentence: I love pizza
Number of consonants in string: 5

In [5]:
#7
text = "car is a vehicle"
modifiedText = text.replace(" ","")
print("String without spaces:",modifiedText)

String without spaces: carisavehicle

In [6]:
#8
text = "car is a vehicle"
counter = 0
for char in text:
    counter+=1
print("Length of string:",counter)

Length of string: 16

In [8]:
#9
text = "car is a vehicle"
specificWord = 'vehicle'
if specificWord in text:
    print(specificWord,"is there")
else:
    print(specificWord,"is not there")

vehicle is there

In [12]:
#10
text = "car is a vehicle"
new = text.replace('car','bike')
print(new)

bike is a vehicle

In [14]:
#11
text = "Car is a vehicle. It is fast."
word = 'is'
print(word,"is there",text.count(word),"times")

is is there 2 times

In [16]:
#12
text = "Car is a vehicle. It is fast."
print("Index:",text.find('is'))

Index: 4

In [17]:
#13
text = "Car is a vehicle. It is fast."
print("Index:",text.rfind('is'))

Index: 21

In [19]:
#14
text = "Car is a vehicle"
print("List of words:",text.split(' '))

List of words: ['Car', 'is', 'a', 'vehicle']

In [24]:
#15
listOfWords = ['Car', 'is', 'a', 'vehicle']
string = ' '.join(listOfWords)
print(string)

Car is a vehicle

In [26]:
#16
text = "Car is a vehicle"
new = text.replace(' ','_')
print(new)

Car_is_a_vehicle

In [27]:
#17
text = "Car is a vehicle"
word = "Car"
if text.startswith(word):
    print("Yes")
else:
    print("No")

Yes

In [29]:
#18
text = "Car is a vehicle"
word = "vehicle"
if text.endswith(word):
    print("Yes")
else:
    print("No")

Yes

In [40]:
#19
text = "Car is a vehicle"
print("Title case:",text.title())

Title case: Car Is A Vehicle

In [41]:
#20
text = "Car is a vehicle"
words = text.split()
longestWord = max(words,key=len)
print("Longest word:",longestWord)

Longest word: vehicle

In [42]:
#21
text = "Car is a vehicle"
words = text.split()
shortestWord = min(words,key=len)
print("Shortest word:",shortestWord)

Shortest word: a

In [44]:
#22
text = "Car is a vehicle"
words = text.split()
print("Reversed:"," ".join(words[::-1]))

Reversed: vehicle a is Car

In [48]:
#23
text = "Car123"
if text.isalnum():
    print("Alphanumeric.")
else:
    print("Not alphanumeric.")

Alphanumeric.

In [53]:
#24
text = "Car123"
digits = []
for char in text:
    if char.isdigit():
        digits.append(char)
print("Digits:",",".join(digits))

Digits: 1,2,3

In [54]:
#25
text = "Car123"
chars = []
for char in text:
    if char.isalpha():
        chars.append(char)
print("Alphabets:",",".join(chars))

Alphabets: C,a,r

In [58]:
#26
text = "Car is a Vehicle"
counter = 0
for char in text:
    if char.isupper():
        counter+=1
print("Upper case:",counter)

Upper case: 2

In [59]:
#27
text = "Car is a Vehicle"
counter = 0
for char in text:
    if char.islower():
        counter+=1
print("Lower case:",counter)

Lower case: 11

In [61]:
#28
text = "Car is a Vehicle"
print("Swap case:",text.swapcase())

Swap case: cAR IS A vEHICLE

In [64]:
#29
text = "Car is a Vehicle"
word = 'is'
print("After removal:",text.replace(word,''))

After removal: Car  a Vehicle

In [1]:
#30
import re
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "user@example.com"
email2 = "invalid_email"
email3 = "another@example.c"
print(is_valid_email(email1)) 
print(is_valid_email(email2))  
print(is_valid_email(email3))

True
False
False

In [53]:
#31
e='mike33@gmail.com'
u=e.split('@')[0]
print(f"Username: {u}")

Username: mike33

In [54]:
#32
e='mike33@gmail.com'
d=e.split('@')[1]
print(f"Domain name: {d}")

Domain name: gmail.com

In [58]:
#33
s="Hi.  How are    you?"
cs=" ".join(s.split())
cs

'Hi. How are you?'

In [3]:
#34
import re
def is_valid_url(url):
    pattern = r'^(https?|ftp)://[^\s/$.?#].[^\s]*$'
    if re.match(pattern, url):
        return True
    else:
        return False
url1 = "https://www.example.com"
url2 = "ftp://file.example.com"
url3 = "invalid_url"
url4 = "http://"
print(is_valid_url(url1)) 
print(is_valid_url(url2)) 
print(is_valid_url(url3)) 
print(is_valid_url(url4))

True
True
False
False

In [61]:
#35
url="https://www.example.com"
url.split('://')[0]

'https'

In [64]:
#36
s='Shall we go to the car park?'
f={}
for c in s:
    if c in f:
        f[c]+=1
    else:
        f[c]=1
for c,F in f.items():
    print(f"Character: '{c}', Frequency: {F}")

Character: 'S', Frequency: 1
Character: 'h', Frequency: 2
Character: 'a', Frequency: 3
Character: 'l', Frequency: 2
Character: ' ', Frequency: 6
Character: 'w', Frequency: 1
Character: 'e', Frequency: 2
Character: 'g', Frequency: 1
Character: 'o', Frequency: 2
Character: 't', Frequency: 2
Character: 'c', Frequency: 1
Character: 'r', Frequency: 2
Character: 'p', Frequency: 1
Character: 'k', Frequency: 1
Character: '?', Frequency: 1

In [11]:
#37
s = "Hi. How are you?"
print(f'With punctuation:, {s}')
new_s = ""
for c in s:
    if c.isalnum():
        new_s += c
    else:
        new_s += ' '
s = new_s
print(f'Without punctuation:, {s.strip()}')

With punctuation:, Hi. How are you?
Without punctuation:, Hi  How are you

In [13]:
#38
s='12car54?'
s.isdigit()

False

In [15]:
#39
s='museum'
s.isalpha()

True

In [21]:
#40
s='museum'
list(s)

['m', 'u', 's', 'e', 'u', 'm']

In [22]:
#41
s1='Silent'
s2='Listen'
if sorted(s1.lower())==sorted(s2.lower()):
    print("They are anagrams")
else:
    print("They are not anagrams")

They are anagrams

In [4]:
#42
def caesar_cipher(text, shift):
    encrypted_text = ""  
    for char in text:
        if char.isalpha(): 
            is_upper = char.isupper()
            char = char.lower()  
            shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            if is_upper:
                shifted_char = shifted_char.upper()
            encrypted_text += shifted_char
        else:
            encrypted_text += char  
    return encrypted_text
plaintext = "Hello, World!"
shift = 3
encoded_text = caesar_cipher(plaintext, shift)
print("Encoded text:", encoded_text)

Encoded text: Khoor, Zruog!

In [6]:
#43
def caesar_cipher_decode(text, shift):
    decoded_text = ""   
    for char in text:
        if char.isalpha():  
            is_upper = char.isupper()
            char = char.lower()  
            shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            if is_upper:
                shifted_char = shifted_char.upper()
            decoded_text += shifted_char
        else:
            decoded_text += char   
    return decoded_text
encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print("Decoded text:", decoded_text)

Decoded text: Hello, World!

In [39]:
#44
s="This is a test and this test is a simple example test"
from collections import Counter
w=s.split()
wC=Counter(w)
top=wC.most_common(1)
T=top[0]
print(f'Most common word is {T[0]} and is present {T[1]} times.')

Most common word is test and is present 3 times.

In [48]:
#45
def unWds(s):
    S=s.lower()
    w=S.split()
    u=set(w)
    return u
s="This is a test and this test is a simple example test"
res=unWds(s)
print(f'Unique words: {res}')

Unique words: {'and', 'is', 'example', 'this', 'a', 'test', 'simple'}

In [9]:
#46
import re
def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_groups)
word1 = "hello"
word2 = "banana"
word3 = "syllable"
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [50]:
#47
s='12ca#r54?'
if not s.isalnum():
    print("Has special characters")
else:
    print("Has no special characters")

Has special characters

In [55]:
#48
s='Shall we go to the car park?'
print(f'Original: {s}')
n=6
S=s.split()
x=S.pop(n-1)
s=' '.join(S)
print(f"After removing '{x}': {s}")

Original: Shall we go to the car park?
After removing 'car': Shall we go to the park?

In [56]:
#49
s='Shall we go to the car park?'
print(f'Original: {s}')
n=6
word='new'
S=s.split()
S.insert(n-1,word)
s=' '.join(S)
print(f"After adding '{word}': {s}")

Original: Shall we go to the car park?
After adding 'new': Shall we go to the new car park?

In [59]:
#50
LoL=[]
csv="Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines=csv.split('\n')
for line in lines:
    fields=line.split(',')
    LoL.append(fields)
LoL

[['Name', ' Age', ' Country'],
 ['John', ' 25', ' USA'],
 ['Alice', ' 30', ' Canada'],
 ['Bob', ' 22', ' UK']]

### List Based Practice Problem

In [67]:
#1
l = []
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
#2
l = [2,4,6,8,10]
counter = 0
for e in l:
    counter+=1
print("Length:",counter)

Length: 5

In [72]:
#3
l = [2,4,6,8,10]
l.append(5)
print(l)

[2, 4, 6, 8, 10, 5]

In [74]:
#4
l = [2,4,6,8,10]
l.insert(1,500)
print(l)

[2, 500, 4, 6, 8, 10]

In [75]:
#5
l = [2,4,6,8,10]
l.remove(6)
print(l)

[2, 4, 8, 10]

In [76]:
#6
l = [2,4,6,8,10]
l.pop(2)
print(l)

[2, 4, 8, 10]

In [77]:
#7
l = [2,4,6,8,10]
if 4 in l:
    print("True")
else:
    print("False")

True

In [81]:
#8
l = [2,4,6,8,2]
print("First occurance:",l.index(2))

First occurance: 0

In [82]:
#9
l = [2,4,6,8,2]
print("Number of occurances:",l.count(2))

Number of occurances: 2

In [83]:
#10
l = [2,4,6,8,2]
print("Reverse:",l[::-1])

Reverse: [2, 8, 6, 4, 2]

In [87]:
#11
l = [2,4,6,8,2]
l.sort()
print("Ascending:",l)

Ascending: [2, 2, 4, 6, 8]

In [88]:
#12
l = [2,4,6,8,2]
l.sort(reverse=True)
print("Descending:",l)

Descending: [8, 6, 4, 2, 2]

In [89]:
#13
l = []
for i in range(2,21,2):
    l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [90]:
#14
l = []
for i in range(1,21,2):
    l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [91]:
#15
l = [2,4,6,8,2]
print("Sum:",sum(l))

Sum: 22

In [92]:
#16
l = [2,4,6,8,2]
print("Max:",max(l))

Max: 8

In [93]:
#17
l = [2,4,6,8,2]
print("Min:",min(l))

Min: 2

In [94]:
#18
l = []
for i in range(1,11):
    l.append(i*i)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
#19
import random
l = []
for i in range(1,11):
    l.append(random.randint(1,100))
print(l)

[59, 52, 92, 15, 69, 3, 1, 45, 35, 14]

In [2]:
#20
l = [2,4,6,8,2]
a = set(l)
print("Remove duplicates:",list(a))

Remove duplicates: [8, 2, 4, 6]

In [3]:
#21
l1 = [2,4,6,8,2]
l2 = [1,3,4,7,9]
c = set(l1) & set(l2)
print("Common:",c)

Common: {4}

In [5]:
#22
l1 = [2,4,6,8,2]
l2 = [1,3,4,7,9]
d = list(set(l1)-set(l2))
print("Difference:",d)

Difference: [8, 2, 6]

In [6]:
#23
l1 = [2,4,6,8,2]
l2 = [1,3,4,7,9]
m = l1+l2
print("Merged:",m)

Merged: [2, 4, 6, 8, 2, 1, 3, 4, 7, 9]

In [7]:
#24
l = [2,4,6,8,2]
n = []
for ele in l:
    n.append(ele*2)
print(n)

[4, 8, 12, 16, 4]

In [10]:
#25
l = [1,3,4,7,9,8]
oddNum = []
for num in l:
    if num%2!=0:
        oddNum.append(num)
print(oddNum)

[1, 3, 7, 9]

In [12]:
#26
l = ['1','3','4','7','9','8']
intL = []
for num in l:
    intL.append(int(num))
print(intL)

[1, 3, 4, 7, 9, 8]

In [13]:
#27
l = [1,3,4,7,9,8]
strL = []
for num in l:
    strL.append(str(num))
print(strL)

['1', '3', '4', '7', '9', '8']

In [1]:
#28
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list
nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

In [8]:
#29
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
fibonacci_numbers = generate_fibonacci(10)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [9]:
#30
l=[1,3,4,2,7,9,6,2]
if l.sort()==l:
    print("Sorted")
else:
    print("Not sorted")

Not sorted

In [10]:
#31
def rotate_left(lst, n):
    n = n % len(lst)  
    rotated = lst[n:] + lst[:n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [11]:
#32
def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [12]:
#33
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True
prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [15]:
#34
def chunk_list(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3
result = chunk_list(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
#35
l=[6,2,99,3,6,3,9,0]
l.sort(reverse=True)
print(f"Second largest number: {l[1]}")

Second largest number: 9

In [23]:
#36
l=[1,3,4,2]
sl=[x**2 for x in l]
sl

[1, 9, 16, 4]

In [24]:
#37
l=[1,3,4,2]
d={element:i for i,element in enumerate(l)}
d

{1: 0, 3: 1, 4: 2, 2: 3}

In [28]:
#38
import random
l=[1,2,3,4]
print(f"Old: {l}")
random.shuffle(l)
print(f"Shuffled: {l}")

Old: [1, 2, 3, 4]
Shuffled: [1, 3, 4, 2]

In [29]:
#39
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [33]:
#40
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 9]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [35]:
#41
l=[1,2,3,4]
l.clear()
l

[]

In [36]:
#42
l=[-1,2,-6,-7,9,5,0]
L=[x if x>=0 else 0 for x in l]
L

[0, 2, 0, 0, 9, 5, 0]

In [37]:
#43
string="I love python programming"
string.split()

['I', 'love', 'python', 'programming']

In [38]:
#44
l=['I', 'love', 'python', 'programming']
" ".join(l)

'I love python programming'

In [40]:
#45
n=5
l=[2**i for i in range(n)]
l

[1, 2, 4, 8, 16]

In [45]:
#46
l=["bike","bus","cycle","scooter"]
Max=max(l,key=len)
Max

'scooter'

In [44]:
#47
l=["bike","bus","cycle","scooter"]
Min=min(l,key=len)
Min

'bus'

In [46]:
#48
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [48]:
#49
def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [50]:
#50
l=[1,2,3,4,5]
print(f"Original: {l}")
i1=0
i2=3
l[i1],l[i2]=l[i2],l[i1]
print(f"After swapping: {l}")

Original: [1, 2, 3, 4, 5]
After swapping: [4, 2, 3, 1, 5]

### Tuple Based Practice Problem

In [18]:
#1
t = tuple(range(1,6))
print(t)

(1, 2, 3, 4, 5)

In [19]:
#2
t = tuple(range(1,6))
print(t[2])

3

In [20]:
#3
t = tuple(range(1,6))
counter = 0
for e in t:
    counter+=1
print("Length:",counter)

Length: 5

In [22]:
#4
t = (1,2,3,4,5,3,2,2)
t.count(2)

3

In [23]:
#5
t = (1,2,3,4,5,3,2,2)
t.index(3)

2

In [24]:
#6
t = (1,2,3,4,5,3,2,2)
if 4 in t:
    print("True")
else:
    print("False")

True

In [25]:
#7
t = (1,2,3,4,5,3,2,2)
print(list(t))

[1, 2, 3, 4, 5, 3, 2, 2]

In [26]:
#8
l = [1,2,3,4,5,3,2,2]
print(tuple(l))

(1, 2, 3, 4, 5, 3, 2, 2)

In [27]:
#9
t = (1,2,3,4)
a,b,c,d = t
print('a:',a)
print('b:',b)
print('c:',c)
print('d:',d)

a: 1
b: 2
c: 3
d: 4

In [30]:
#10
t = tuple(range(2,11,2))
print(t)

(2, 4, 6, 8, 10)

In [31]:
#11
t = tuple(range(1,11,2))
print(t)

(1, 3, 5, 7, 9)

In [34]:
#12
t1 = (1,2,3,4)
t2 = (2,4,6,8)
print("Concatenated:",t1+t2)

Concatenated: (1, 2, 3, 4, 2, 4, 6, 8)

In [35]:
#13
t = (2,4,6,8)
print("Repeat:",t*3)

Repeat: (2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8)

In [37]:
#14
t = (2,4,6,8)
if len(t)==0:
    print("Empty")
else:
    print("Not empty")

Not empty

In [38]:
#15
t = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print(t)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [41]:
#16
t = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print("First element:",t[0][0])

First element: 1

In [48]:
#17
t = (7,)
type(t)

tuple

In [62]:
#18
t1 = (1,2,3,4)
t2 = (2,4,6,8)
if t1>t2:
    print("t1>t2")
else:
    print("t1<t2")

t1<t2

In [53]:
#19
t = (7,5,1,2)
del(t)
try:
    print(t)
except:
    print("Tuple deleted")

Tuple deleted

In [54]:
#20
t = (2,4,6,8)
print(t[1:4])

(4, 6, 8)

In [55]:
#21
t = (2,4,6,8)
print(max(t))

8

In [56]:
#22
t = (2,4,6,8)
print(min(t))

2

In [58]:
#23
s = "bike"
print(tuple(s))

('b', 'i', 'k', 'e')

In [61]:
#24
t = ('b','i','k','e')
print(''.join(t))

bike

In [63]:
#25
t = (10, "Hello", 3.14, True)
print(t)

(10, 'Hello', 3.14, True)

In [64]:
#26
t1 = (1,2,3,4)
t2 = (2,4,6,8)
if t1==t2:
    print("t1==t2")
else:
    print("t1!=t2")

t1!=t2

In [68]:
#27
t = (5,1,0,6)
print(tuple(sorted(t)))

(0, 1, 5, 6)

In [71]:
#28
t = (1,2,3,4)
strTuple = []
for item in t:
    strTuple.append(str(item))
print(tuple(strTuple))

('1', '2', '3', '4')

In [72]:
#29
t = ('1','2','3','4')
intTuple = []
for item in t:
    intTuple.append(int(item))
print(tuple(intTuple))

(1, 2, 3, 4)

In [73]:
#30
t1 = (1,2,3,4)
t2 = (2,4,6,8)
print("Merged:",t1+t2)

Merged: (1, 2, 3, 4, 2, 4, 6, 8)

In [1]:
#31
def flatten_nested_tuple(nested_tuple):
    flattened_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_list.extend(flatten_nested_tuple(item))
        else:
            flattened_list.append(item)
    return tuple(flattened_list)
nested_tuple = (1, (2, 3), (4, (5, 6), 7))
flattened_tuple = flatten_nested_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [2]:
#32
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [3]:
#33
t=(1,2,3,2,1)
if t==t[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Palindrome

In [5]:
#34
t=tuple(x**2 for x in range(1,6))
t

(1, 4, 9, 16, 25)

In [9]:
#35
t1=(1,2,3,4,5,6)
t2=tuple(x for x in t1 if x%2!=0)
print(f"Filtered tuple: {t2}")

Filtered tuple: (1, 3, 5)

In [10]:
#36
t1=(1,2,3,4,5,6)
t2=tuple(x*2 for x in t1)
print(f"MultipliedBy2: {t2}")

MultipliedBy2: (2, 4, 6, 8, 10, 12)

In [13]:
#37
import random
t=tuple(random.randint(1,100) for i in range(10))
print(f"RandomNumbersTuple: {t}")

RandomNumbersTuple: (1, 65, 81, 36, 82, 13, 98, 49, 95, 98)

In [15]:
#38
t=(6,3,9,4,5,7,1)
if sorted(t)==t:
    print("Sorted")
else:
    print("Not sorted")

Not sorted

In [19]:
#39
def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [20]:
#40
def rotate_tuple_right(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[-n:] + tup[:-n] 
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [22]:
#41
def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci) 
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [24]:
#42
t=[]
print("Type 'done' to quit")
while True:
    val=input("Input: ")
    if val.lower()=='done':
        break
    else:
        t.append(val)
tup=tuple(t)
print(f"Final tuple: {tup}")

Type 'done' to quit
Input: car
Input: bike
Input: Done
Final tuple: ('car', 'bike')

In [25]:
#43
t1=(1,2,3,4)
first,last=1,3
t1List=list(t1)
t1List[first],t1List[last]=t1List[last],t1List[first]
finalTup=tuple(t1List)
print(f"After swap: {finalTup}")

After swap: (1, 4, 3, 2)

In [27]:
#44
t=(1,2,3,4)
print(f"Reversed: {t[::-1]}")

Reversed: (4, 3, 2, 1)

In [28]:
#45
n=6
t=tuple(2**x for x in range(6))
t

(1, 2, 4, 8, 16, 32)

In [32]:
#46
t=('car','bike','cycle','bus')
Max=max(t,key=len)
Max

'cycle'

In [34]:
#47
t=('bike','cycle','bus')
Min=min(t,key=len)
Min

'bus'

In [35]:
#48
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [37]:
#49
def contains_subtuple(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)
    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i+sub_len] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)
if contains_subtuple(main_tuple, sub_tuple):
    print("Subtuple found in the main tuple.")
else:
    print("Subtuple not found in the main tuple.")

Subtuple found in the main tuple.

In [44]:
#50
n=7
t=tuple(1 if x%2==0 else 0 for x in range(n))
t

(1, 0, 1, 0, 1, 0, 1)

### Set Based Practice Problem

In [78]:
#1
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [81]:
#2
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [82]:
#3
s = {1,2,3,4,5}
s.remove(5)
print(s)

{1, 2, 3, 4}

In [83]:
#4
s = {1,2,3,4,5}
if 3 in s:
    print("Yes")
else:
    print("No")

Yes

In [85]:
#5
s = {1,2,3,4,5}
counter = 0
for e in s:
    counter+=1
print("Length:",counter)

Length: 5

In [87]:
#6
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [91]:
#7
s = []
for i in range(1,11):
    if i%2==0:
        s.append(i)
print(set(s))

{2, 4, 6, 8, 10}

In [92]:
#8
s = []
for i in range(1,11):
    if i%2!=0:
        s.append(i)
print(set(s))

{1, 3, 5, 7, 9}

In [1]:
#9
s1={1,2,3,4,5,6}
s2={2,4,6,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8}

In [2]:
#10
s1={1,2,3,4,5,6}
s2={2,4,6,8}
s1.intersection(s2)

{2, 4, 6}

In [3]:
#11
s1={1,2,3,4,5,6}
s2={2,4,6,8}
s1-s2

{1, 3, 5}

In [4]:
#12
s1={1,2,3,4,5,6}
s2={2,4,6,8}
s2.issubset(s1)

False

In [6]:
#13
s1={1,2,3,4,5,6}
s2={2,4,6,8}
s2.issuperset(s1)

False

In [8]:
#14
l=[1,2,3,4,5]
set(l)

{1, 2, 3, 4, 5}

In [9]:
#15
s={2,4,6,8}
list(s)

[8, 2, 4, 6]

In [23]:
#16
import random
s={2,4,6,8}
randomElement=random.choice(list(s))
print(randomElement)
s.remove(randomElement)
s

6

{2, 4, 8}

In [19]:
#17
s={2,4,6,8}
s.pop()

8

In [27]:
#18
s1={2,4,6,8}
s2={1,3,5,7}
common=s1.intersection(s2)
if not common:
    print("No common elements")
else:
    print(f"Common elements are {common}")

No common elements

In [29]:
#19
s1={2,4,6,8}
s2={1,3,5,7}
s1^s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
#20
s1={1,2,3,4,5,6}
s2={2,4,6,8}
s1.update(s2)
print(f"Updated s1: {s1}")

Updated s1: {1, 2, 3, 4, 5, 6, 8}

In [34]:
#21
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [35]:
#22
s1={1,3,5,7}
s2={1,3,5,7}
if s1==s2:
    print("Identical")
else:
    print("Not identical")

Identical

In [37]:
#23
elements=[1,3,4,6]
frozenSet=frozenset(elements)
print(f"Frozen set: {frozenSet}")

Frozen set: frozenset({1, 3, 4, 6})

In [39]:
#24
s1={1,2,3,4,5,6}
s2={2,4,6,8}
status=s1.isdisjoint(s2)
print(f"Disjoint? {status}")

Disjoint? False

In [40]:
#25
s=set([x**2 for x in range(1,6)])
s

{1, 4, 9, 16, 25}

In [43]:
#26
s={1,2,3,4,5,6}
evenS=set()
for e in s:
    if e%2==0:
        evenS.add(e)
print(f"Original: {s}")
print(f"Even: {evenS}")

Original: {1, 2, 3, 4, 5, 6}
Even: {2, 4, 6}

In [44]:
#27
s={1,2,3,4,5,6}
mulS=set()
for e in s:
    mul=e*2
    mulS.add(mul)
print(f"Original: {s}")
print(f"MultipliedBy2: {mulS}")

Original: {1, 2, 3, 4, 5, 6}
MultipliedBy2: {2, 4, 6, 8, 10, 12}

In [49]:
#28
import random
s=set()
for i in range(5):
    val=random.randint(1,100)
    s.add(val)
print(f"Set: {s}")

Set: {45, 78, 54, 23, 57}

In [54]:
#29
s=set()
if not s:
    print("Empty")
else:
    print("Not empty")

Empty

In [57]:
#30
s1={2,4,6,8}
s2={1,3,5,7}
fs1=frozenset(s1)
fs2=frozenset(s2)
nested={fs1,fs2}
print("Nested: {0}".format(nested))

Nested: {frozenset({8, 2, 4, 6}), frozenset({1, 3, 5, 7})}

In [58]:
#31
s={1,2,3,4,5,6}
print(f"Original: {s}")
s.discard(4)
print(f"New: {s}")

Original: {1, 2, 3, 4, 5, 6}
New: {1, 2, 3, 5, 6}

In [61]:
#32
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
is_subset = s1.issubset(s2)
is_superset = s1.issuperset(s2)
intersection = s1.intersection(s2)
union = s1.union(s2)
difference1 = s1.difference(s2)
difference2 = s2.difference(s1)
print("Set 1:", s1)
print("Set 2:", s2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [62]:
#33
string="aeroplane"
s=set(string)
s

{'a', 'e', 'l', 'n', 'o', 'p', 'r'}

In [63]:
#34
s={'1','23','456'}
iS=set()
for e in s:
    val=int(e)
    iS.add(val)
print(f"Original: {s}")
print(f"Integers: {iS}")

Original: {'1', '456', '23'}
Integers: {456, 1, 23}

In [64]:
#35
s={1,23,456}
iS=set()
for e in s:
    val=str(e)
    iS.add(val)
print(f"Original: {s}")
print(f"Strings: {iS}")

Original: {456, 1, 23}
Strings: {'1', '456', '23'}

In [65]:
#36
t=(1,2,3,4)
s=set(t)
s

{1, 2, 3, 4}

In [66]:
#37
s={1,2,3,4}
t=tuple(s)
t

(1, 2, 3, 4)

In [67]:
#38
s={1,2,3,4}
m=max(s)
print(f"Max: {m}")

Max: 4

In [68]:
#39
s={1,2,3,4}
m=min(s)
print(f"Min: {m}")

Min: 1

In [70]:
#40
s=set()
print("Type 'done' to stop")
while True:
    i=input("Enter input: ")
    if i.lower()=='done':
        break
    s.add(i) 
print(f"Final: {s}")

Type 'done' to stop
Enter input: car
Enter input: bike
Enter input: DONe
Final: {'bike', 'car'}

In [71]:
#41
s1={2,4,6,8}
s2={1,3,5,7}
common=s1.intersection(s2)
if not common:
    print("The intersection of two sets is empty.")
else:
    print(f"The intersection of two sets is not empty.")

The intersection of two sets is empty.

In [72]:
#42
fibonacci_set = set()
a,b=0,1
for i in range(6):
    fibonacci_set.add(a)
    a,b = b,a+b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [73]:
#43
l=[1,2,3,4,2,4,6]
print(list(set(l)))

[1, 2, 3, 4, 6]

In [74]:
#44
s1={2,4,6,8}
s2={2,6,4,8,2,8}
if sorted(list(s1))==sorted(list(s2)):
    print("Both sets have same elements")
else:
    print("Both sets do not have same elements")

Both sets have same elements

In [77]:
#45
def powsOf2(n):
    s=set()
    for i in range(n):
        res=2**i
        s.add(res)
    return s
n=4
powsOf2(n)

{1, 2, 4, 8}

In [78]:
#46
s={2,4,6,8}
l=[1,2,3,4]
c=s.intersection(set(l))
print(f"Common elements: {c}")

Common elements: {2, 4}

In [79]:
#47
def generate_triangular_numbers(n):
    triangular_numbers=set()  
    for i in range(1,n+1):
        triangular_number=i*(i+1)//2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers
n = int(input("Enter the value of n: "))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [80]:
#48
s1={2,4,6,8}
s2={8,2}
s1.issuperset(s2)

True

In [81]:
#49
def onesZeros(n):
    s=set()
    for i in range(n):
        if i%2==0:
            s.add(1)
        else:
            s.add(0)
    return s
n=5
onesZeros(n)

{0, 1}

In [84]:
#50
s1={3,2,1}
s2={2,4,6}
s3={9,6,3}
merged=s1.union(s2,s3)
print(f"Merged: {merged}")

Merged: {1, 2, 3, 4, 6, 9}